# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env*
profile-translations.json
register_profile_translations.js
register_profile_translations.cjs
firebase_realtime_db_rules_1.json
firebase_realtime_db_rules_2.json
firebase_realtime_db_rules_3.json
firebase_realtime_db_rules_4.json
update_auth_translations.cjs
update_profile_translations.cjs
upload_auth.js
serviceAccountKey.json
auth-translations.json
upload_auth_manual.js
rootbridge-9b225-default-rtdb-export.json